.navbar {
  margin: 0;
  padding: 0;
  min-width: 100vmin;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.icon {
  /* width: 150px; */
  display: flex;
  justify-content: center;
}
.img-icon {
  width: 75px;
}
a {
  text-decoration: none;
  color: black;
}

.task-list {
  min-width: auto;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}
.not-done {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}

.done {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}
.completed {
  text-decoration: line-through;
}
