{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    {% block title %}
    <title>Home</title>
    {% endblock title %}
  </head>

  <div class="navbar">
    <div class="icon">
      <a href="{% url 'index' %}">
        <img class="img-icon" src="http://placekitten.com/50/50" alt="" />
        Home</a
      >
    </div>

    <div class="navbar-links">
      {% if not request.user.is_anonymous %}
      <a href="{% url 'profile' %}">Profile</a>
      <a href="{% url 'logout_user' %}">Logout</a>

      {% else %}
      <a href="{% url 'login_user' %}">Login</a>

      {% endif %}
    </div>
  </div>

  {% block content %}
  <body>
    <h2>ToDo list</h2>
    <br />
    <input type="text" id="todo-input" />
    <button id="todo-btn">Add</button>
    <ul id="todo-list"></ul>
    <span style="color: grey">Make an account and save your list!</span>
    <!--  -->
    <script>
      const todoBtn = document.getElementById("todo-btn");
      const todoInput = document.getElementById("todo-input");
      const todoList = document.getElementById("todo-list");

      todoBtn.addEventListener("click", addItem);

      function addItem() {
        const todoText = todoInput.value;
        const li = document.createElement("li");
        const span = document.createElement("span");
        span.textContent = todoText;
        li.append(span);
        todoList.appendChild(li);
        todoInput.value = "";
        //
        const delBtn = document.createElement("button");
        delBtn.textContent = "X";
        li.append(delBtn);
        delBtn.addEventListener("click", function () {
          todoList.removeChild(delBtn.parentElement);
        });
        //
        const completeBtn = document.createElement("button");
        completeBtn.textContent = "✔️";
        li.append(completeBtn);

        completeBtn.addEventListener("click", function () {
          const parent = completeBtn.parentElement;
          const span = parent.querySelector("span");
          if (span.style.textDecoration === "line-through") {
            span.style.textDecoration = "none";
            span.style.color = "black";
            todoList.insertBefore(parent, todoList.firstChild);
            completeBtn.textContent = "check";
          } else {
            span.style.textDecoration = "line-through";
            span.style.color = "grey";
            todoList.removeChild(parent);
            todoList.append(parent);
          }
        });
      }
    </script>
  </body>
  {% endblock content %}
</html>
