{% extends "web_app/index.html" %}
<!--  -->

<!--  -->
{% block title %}
<title>{{request.user}}</title>
{% endblock title %}
<!--  -->
{% block content %}
<h1>{{request.user}}</h1>

<form action="{% url 'new-task' %}" method="POST">
  {% csrf_token %} {{form.title}}
  <button type="submit">Submit</button>
</form>

<div class="task-list">
  <div class="not-done">
    {% for task in tasks %}
    <!--  -->
    {% if task.complete == False %}
    <ul>
      <button>
        <a href="{% url 'edit' task.id %}">edit</a>
      </button>
      <button>
        <a href="{% url 'delete-task' task.id %}">delete</a>
      </button>
      <ul>
        {{task}}
      </ul>
    </ul>
    {% endif %}
    <!--  -->
    {% endfor %}
  </div>

  <div class="done">
    {% for task in tasks %}
    <!--  -->
    {% if task.complete == True %}
    <ul>
      <button>
        <a href="{% url 'edit' task.id %}">edit</a>
      </button>
      <button>
        <a href="{% url 'delete-task' task.id %}">delete</a>
      </button>
      <ul class="completed">
        {{task}}
      </ul>
    </ul>
    {% endif %}
    <!--  -->
    {% endfor %}
  </div>
  {% endblock content %}
</div>
